<h1>Welcome to this timetracking tool</h1>


<p>
  Ironhack powered
</p>


<marquee behavior="scroll" bgcolor=#DCDCDC  loop="-1" width="30%">
 <i><font color=#000000 ><strong>HEY NIGGIH!! VOY TO BURLAO NIGGIH!!</strong></font></i>
</marquee>
<br />


<!-- <img src="/assets/thuglife.gif" alt="ouhyeah niggah"> -->
<%= image_tag "los_burlaos.gif" %>
